 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://assets.nicepagecdn.com/07af6085/4735692/images/4cc8729530e394490c404d330817ae403798fdd451e07b6d7242030cb01286f2e7005e546ae40b120fef4cb9285ed1c6fa1f5af6805de9a567e4a5_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 584px;
}

.u-section-1 .u-form-1 {
  height: 295px;
  width: 570px;
  margin: 92px auto 0;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  padding: 10px 30px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  align-self: center;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  margin: 9px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 474px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://assets.nicepagecdn.com/07af6085/4735692/images/4cc8729530e394490c404d330817ae403798fdd451e07b6d7242030cb01286f2e7005e546ae40b120fef4cb9285ed1c6fa1f5af6805de9a567e4a5_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 390px;
}

.u-section-3 .u-form-1 {
  height: 155px;
  width: 570px;
  margin: 70px auto 60px;
}

.u-section-3 .u-label-1 {
  font-weight: 700;
}

.u-section-3 .u-input-1 {
  background-image: none;
}

.u-section-3 .u-label-2 {
  font-weight: 700;
}

.u-section-3 .u-input-2 {
  background-image: none;
}

.u-section-3 .u-btn-1 {
  width: 100%;
  padding: 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-3 .u-btn-1 {
    display: none;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 390px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-form-1 {
    width: 340px;
    margin-top: 43px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 400px;
}